@import "../../../styles/colors.scss";

.backgroundWrapper {
  width: 100%;
  height: 100%;
}

.backgroundWrapperTop {
  background: linear-gradient(51deg, $main-pink 17.53%, $main-blue 91.08%);
}

.backgroundWrapperBottom {
  background: linear-gradient(308deg, $main-pink 15.99%, $main-blue 95.11%);
}
