@import "../../styles/colors.scss";

.container {
  position: relative;
  height: 100vh;
  background-color: $registraion__page-bg;
  display: flex;
  align-items: center;
}

.arrowBackWrapper {
  position: absolute;
  width: 47px;
  height: 47px;

  right: 6px;
  bottom: 10px;
}

.formWrapper {
  margin-inline: 16px;
  padding: 28px 48px;

  display: flex;
  flex-direction: column;

  border-radius: 10px;
  background-color: $registraion__form-bg;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
}

.formHeadline {
  color: $black;
  text-align: center;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 300;
}

.price {
  margin-top: 2px;

  color: $black;
  text-align: center;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 300;
}

.priceDiscounted {
  color: $main-red;
  text-align: center;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 300;
  text-decoration: line-through;
}

.separator {
  width: 100%;
  height: 1px;

  margin-bottom: 32px;

  outline: none;
  border: none;

  background-color: $main-blue;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.submitButton {
  width: 164px;

  border-radius: 6px;

  border: none;
  outline: none;

  color: $white;
  background-color: $main-blue;
  text-align: center;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 300;
}
