@import "../../../styles/colors.scss";

.purchaseButton {
  width: 100%;
  height: 100%;

  color: $white;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 600;
  line-height: 92.336%;

  background-color: $main-pink;
  border: none;
  outline: none;

  border-radius: 3px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  cursor: pointer;

  position: relative;

  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 25%,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0) 65%
    );
    top: 0;
    left: -100px;
    animation: shine 6s infinite linear;
  }
}

@keyframes shine {
  0% {
    left: -100px;
  }
  20% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

.purchaseButtonMedium {
  width: 710px;
  height: 80px;

  font-size: 42px;
}

.purchaseButtonLarge {
  width: 620px;
  height: 70px;

  font-size: 34px;
}
