@import "../../../styles/colors.scss"; 

.faqSection {
  max-width: 1024px;

  margin-top: 58px;
  margin-inline: auto;
}

.sectionTitle {
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 100.012px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
