@import "../../../styles/colors.scss"; 

.faqSection {
  max-width: 1024px;

  margin-top: 58px;
  margin-inline: auto;
}

.sectionTitle {
  margin-bottom: 24px;

  text-align: center;
  font-family: Raleway;
  font-size: 56px;
  font-weight: 300;
}
