$white: #ffffff;
$black: #000000;
$main-pink: #f4ded0;
$main-blue: #c1c9f2;
$main-red: #ff4f4f;
$main-grey: #9f9f9f;
$text__grey: #666666;
$registraion__form-bg: #f3f3f3;
$registraion__page-bg: #eaeaea;
