@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald/Oswald-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("./assets/fonts/Montserrat-Alternates/MontserratAlternates-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Philosopher";
  src: url("./assets/fonts/Philosopher/Philosopher-Regular.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans Narrow";
  src: url("./assets/fonts/PT-Sans-Narrow/PTSansNarrow-Regular.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Yanone Kaffeesatz";
  src: url("./assets/fonts/Yanone-Kaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Michroma";
  src: url("./assets/fonts/Michroma/Michroma-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("./assets/fonts/Open-Sans-Condensed/OpenSans_Condensed-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("./assets/fonts/Open-Sans-Condensed/OpenSans_Condensed-Light.ttf") format("truetype");
  font-weight: 300;
}
