@import "../../../styles/colors.scss";

.whyUsSection {
  position: relative;

  padding-bottom: 32px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    overflow: visible;
  }
}

.sectionHeader {
  margin-inline: 60px;

  color: $white;
  text-align: center;
  font-family: "Yanone Kaffeesatz";
  font-size: 32px;
  font-weight: 400;
}

.accordionWrapper {
  margin-top: 16px;
}
