@import "../../../../styles/colors.scss";

.reviewItem {
  height: 100%;
  padding: 14px;

  flex: 1;

  border-radius: 20px;
  border: 1px solid #c1c9f2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  position: relative;

  &::after {
    content: "";

    width: 100%;
    height: 100%;

    border-radius: 20px;

    top: 0;
    left: 0;

    z-index: -1;

    position: absolute;

    background: rgba(255, 255, 255, 0.33);
    backdrop-filter: blur(4px);
  }
}

.headlineWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.avatar {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.reviewerName {
  color: $black;
  font-family: "Open Sans Condensed";
  font-size: 16px;
  font-weight: 300;
}

.reviewText {
  margin-top: 8px;
  
  color: $black;
  text-align: left;
  font-family: "Open Sans Condensed";
  font-size: 18px;
  font-weight: 300;
}
