@import "../../../styles/colors.scss";

.faqSection {
  margin-top: 10px;
  padding-inline: 8px;
}

.title {
  color: $black;
  text-align: center;
  font-family: Raleway;
  font-size: 32px;
  font-weight: 300;
}
