@import "../../../../styles/colors.scss";

.featureListItem {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  gap: 3px;
}

.imageWrapper {
  width: 32px;
  height: 32px;

  min-width: 32px;
  min-height: 32px;

  border-radius: 50%;
  
  padding: 3px;

  background-color: $white;
}

.image {
  width: 100%;
  height: 100%;
}

.title {
  text-align: left;

  color: #fff;
  font-family: "PT Sans Narrow";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 92.336%; /* 14.774px */
}
