@import '../../../styles/colors.scss';

.desktopGradientBackground {
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 0;
  bottom: 0;

  overflow: hidden;

  background: linear-gradient(80deg, $main-pink 37.53%, $main-blue 91.08%);
}

