@import "../../../styles/colors.scss";

.reviewsSection {
  margin-top: 8px;
}

.title {
  padding-inline: 8px;

  color: $black;
  font-family: Raleway;
  font-size: 32px;
  font-weight: 300;
  text-align: left;
}

.subText {
  margin-top: 8px;
  padding-inline: 8px;

  color: $black;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
}

.reviewsListWrapper {
  margin-top: 8px;

  display: flex;
  gap: 8px;
}

.slide {
  padding: 8px;
}
