@import "../../../styles/colors.scss";

$bottom-bar-height: 70px;

.headlineSection {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.pageContentWrapper {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pageContent {
  width: 100%;
  max-width: 1280px;

  height: min-content;

  padding-block: 70px;
  margin-inline: 40px;

  display: flex;
  gap: 50px;

  align-items: stretch;
}

.formWrapper {
  flex: 1;
}

.personBlock {
  flex: 1;

  border-radius: 20px;

  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);

  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 15%;
  background-position-x: center;
  background-image: url("/src/assets/images/person-image.png");
}

.personName {
  margin-top: 8px;

  color: $white;
  font-family: Oswald;
  font-size: 43.672px;
  font-weight: 400;
}

.personDescription {
  margin-top: -8px;

  color: $main-pink;
  font-family: Oswald;
  font-size: 32.754px;
  font-weight: 400;
}

.bottomBar {
  width: 100%;
  min-height: $bottom-bar-height;
  height: $bottom-bar-height;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $main-blue;
}

.purchaseButtonWrapper {
  width: 400px;
  height: 45px;
}
