@import "../../../styles/colors.scss";

.inputFormWrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputTitle {
  margin-left: 6px;
  margin-bottom: 2px;

  text-align: center;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 300;
}

.inputTitleLarge {
  font-size: 26px;
}

.inputWrapper {
  width: 100%;

  position: relative;
}

.inputField {
  width: 100%;
  height: 30px;

  padding-inline: 4px;

  border: 1px solid $main-blue;
  border-radius: 4px;
  outline: none;

  font-family: Raleway;
  font-size: 12px;
  font-weight: 300;

  &::placeholder {
    color: rgba(0, 0, 0, 0.16);
  }
}

.inputFieldLarge {
  height: 64px;

  padding-inline: 8px;

  border: 2.126px solid $main-blue;
  border-radius: 8px;

  font-size: 25.512px;
  font-weight: 300;
}

.inputError {
  border: 1px solid red;
}

.inputFieldTel {
  padding-left: 48px;
}

.inputFieldTelLarge {
  padding-left: 96px;
}

.phoneNumberOverlay {
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);

  display: flex;
  height: 14px;

  align-items: center;
}

.phoneNumberOverlayLarge {
  left: 8px;
}

.ukraineFlag {
  width: 14px;
  height: 14px;
}

.ukraineFlagLarge {
  width: 24px;
  height: 24px;
}

.numberStart {
  margin-left: 4px;

  text-align: center;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 300;
}

.numberStartLarge {
  font-family: Raleway;
  font-size: 25.512px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
